.navigation-wrap.MuiPaper-root {
  position: fixed;
  top: 0;
  box-shadow: none;
  background-color: $green1;
  height: 72px;

  .custom-container {
    height: 100%;
    .MuiToolbar-root {
      height: 100%;
    }
  }

  .logo {
    font-size: 18px;
    text-decoration: none;
    color: $white2;
    display: flex;
    align-items: center;
    margin-right: 12px;
    img {
      margin-right: 12px;
      height: 42px;
    }
    .content {
      display: flex;
      flex-direction: column;
      .text {
        color: $white1;
        line-height: 22px;
      }
      .destination {
        font-size: 12px;
        font-weight: 300;
        color: $white2;
        margin-top: 2px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
} //navigation-wrap END

.navigation-wrap-placeholder {
  height: 72px;
  width: 100%;
  position: relative;
}

.InfoWithBackgroundImageComponent {
  position: relative;

  .content {
    display: flex;
    flex-direction: column-reverse;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 240px;
      border-radius: 4px;
    }
    .text {
      padding: 16px;
      position: absolute;
      bottom: 0;
      top: 0;
      color: $white1;
      text-shadow: 1px 1px 1px $navyBlue1;

      display: flex;
      align-items: center;
    }
  }
  @media screen and (min-width: $md) {
    .content {
      img {
        height: 356px;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .content {
      flex-direction: row;
      .img-content {
        padding-left: 10px;
      }
      img {
        height: 400px;
      }
    }
  }
} //InfoWithBackgroundImageComponent END

.MuiTabs-root.custom-tabs {
  .MuiButtonBase-root {
    text-transform: none;
    font-size: 16px;

    &.Mui-selected {
      color: $green2;
    }

    .MuiTabs-flexContainer {
      justify-content: space-around;
    }
  }

  .MuiTabs-indicator {
    background-color: $green2;
  }

  @media screen and (min-width: $xs) {
    .MuiButtonBase-root {
      margin: 0 12px;
      .MuiTabs-flexContainer {
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .MuiButtonBase-root {
      margin: 0 30px;
    }
  }
} //MuiTabs-root.custom-tabs END

.BoxOfActivity {
  margin-bottom: 12px;
  .content-wrapper {
    height: 100%;
    .image-wrapper {
      height: 200px;
      width: 100%;
      position: relative;
      img {
        border-radius: 4px;
        object-fit: cover;
        display: block;
        cursor: pointer;
      }
    }

    .content {
      padding: 16px;
      height: calc(100% - 236px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .text {
        h3 {
          margin: 10px 0 6px 0;
        }
        .description {
          margin: 16px 0;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .gray-label {
          margin-bottom: 2px;
        }
      }
    }
  }

  @media screen and (min-width: $lg) {
    .text {
      .description {
        min-height: 130px;
      }
    }
  }

  &.paidAd {
    background-color: #cedcdc;
    // box-shadow: 0 0 0 5px #a1c4c3;
  }
} //BoxOfActivity END

.ZoomedBoxOfActivity.MuiDialog-root.dialog-wrapper {
  margin: 46px 16px;

  .MuiDialog-container {
    align-items: flex-start;
    height: calc(100vh - 92px);
    background-color: transparent;
    .MuiDialog-paper {
      box-shadow: none;
      max-height: 100%;
      max-width: 640px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      .MuiDialogContent-root {
        padding: 0;
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
          border-radius: 4px;
          margin-top: 4px;
        }

        &::-webkit-scrollbar-track {
          background: $white2;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $gray1;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: $gray1;
        }
        img {
          width: 100%;
          height: 200px;
          border-radius: 4px;
          object-fit: cover;
          border-top-right-radius: 0;
        }
        .content {
          margin: 10px 0 6px 0;
          padding: 0 16px;
          h3 {
            margin: 20px 0 16px 0;
          }
          .description {
            margin: 16px 0;
          }
          .buttons {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  @media screen and (min-width: $xs) {
    .MuiDialog-container {
      .MuiDialog-paper {
        .MuiDialogContent-root {
          img {
            height: 298px;
          }
        }
      }
    }
  }

  @media screen and (min-width: $lg) {
    margin: 16px;
    .MuiDialog-container {
      height: calc(100vh - 32px);
    }
  }
}

.shoppingCartList {
  background-color: $white1;
  color: $navyBlue1;
  height: 100%;
  .container {
    padding: 16px;
    .main-title {
      font-size: 20px;
      margin-top: 0px;
      line-height: 48px;
    }
    .MuiTypography-root {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: 16px;
    }

    .date-label {
      font-weight: 300;
      margin-right: 12px;
      min-width: 60px;
      font-size: 14px;
      font-weight: 300;
    }
    .no-data {
      font-weight: 300;
      color: $gray1;
      font-size: 14px;
      a {
        color: $gray1;
      }
      svg {
        position: relative;
        top: 5px;
        font-size: 22px;
        margin-right: 3px;
      }
    }

    .chosen-activities {
      .no-data {
        margin-top: 14px;
      }

      .chosen-activities-list {
        margin-top: 14px;
        .no-activity {
          display: flex;
          align-items: center;
          font-size: 14px;
          margin-bottom: 12px;
          box-shadow: none;
          color: $gray1;
          .MuiSvgIcon-root {
            font-size: 22px;
            margin-right: 6px;
          }
        }
      }
    }

    .MuiAlert-root {
      padding: 8 12px;
      color: $orange2;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      letter-spacing: 1px;
      .MuiAlert-icon {
        color: $orange2;
        margin-right: 10px;
        padding: 0;
      }
      .MuiAlert-message {
        padding: 0;
      }
    }

    .persons {
      display: flex;
      width: 100%;
      > div {
        width: 50%;
      }
    }

    .price_overview {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 16px;
      .MuiTypography-root {
        margin-top: 0;
        margin-bottom: 6px;
      }
      .price_list {
        li {
          font-size: 13px;
          span {
            font-size: 12px;
          }
        }
      }
    }

    @media screen and (min-width: $md) {
      .main-title {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: $lg) {
      .submit-wrapper {
        display: flex;
        align-items: center;
        .MuiButtonBase-root {
          width: calc(50% - 12px);
        }
      }
    }

    @media screen and (min-width: 1260px) {
      width: 607px;
    }

    @media screen and (min-width: 1350px) {
      width: 640px;
    }
  }
} //shoppingCartList END

.shoppingCartActivityList {
  margin-bottom: 12px;
  box-shadow: $boxShadow1;
  &:last-of-type {
    margin-bottom: 0;
  }
  li {
    display: flex;
    width: 100%;
    border-radius: 4px;
    align-items: center;
    position: relative;
    .image-wrap {
      display: flex;
      height: 76px;
      width: 114px;
      position: relative;
      img {
        width: 90px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .MuiButtonBase-root {
        padding: 4px;
        border-radius: 0;
        height: 100%;
        svg {
          width: 19px;
          height: 19px;
          color: $gray2;
        }
      }
    }
    .content {
      width: calc(100% - 114px);
      padding: 0 0 0 12px !important;
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        .sub-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }

        p {
          margin: 0;
          padding: 0 12px 0 0;
          font-size: 14px;
          line-height: 22px !important;
          font-weight: 600;
          height: 46px;
          width: calc(100% - 32px);
        }
        .gray-label {
          padding: 0 8px 0 0;
          line-height: 22px !important;
          font-weight: 300;
        }
      }
      .action {
        position: absolute;

        .MuiButtonBase-root {
          padding: 6px;
          svg {
            width: 19px;
            height: 19px;
            color: $gray2;
          }
        }
        &.remove {
          right: 0;
          top: 0;
        }
      }

      @media screen and (min-width: $lg) {
        .info {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  &.EmptyActivityList {
    li {
      .image-wrap {
        border: 4px solid $white2;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: $white2;
        svg {
          font-size: 44px;
          color: $lightGray1;
        }
      }
      .content {
        padding: 0px !important;
        .info {
          p {
            text-align: center;
            height: auto;
            color: $lightGray1;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.CalendarForm {
  .calendar-field {
    .react-datepicker-wrapper {
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: $xs) {
    display: flex;
    justify-content: space-between;
    .calendar-field {
      width: calc(50% - 12px);
    }
  }

  @media screen and (min-width: $md) {
    .calendar-field {
      .react-datepicker-wrapper {
        margin-bottom: 0px;
      }
    }
  }
}

.NumberOfPersonsForm {
  .content {
    .quantity-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.adults {
        margin-bottom: 24px;
      }
      &.children {
        position: relative;
        .label {
          min-width: 92px;
        }
      }

      .label {
        color: $navyBlue1;
        display: block;
        font-size: 15px;
        line-height: 24px;
        position: relative;
        .MuiSvgIcon-root {
          color: $green1;
          position: absolute;
          top: 1px;
          right: 0;
        }

        &.active {
          .MuiSvgIcon-root {
            color: $green2;
          }
        }
        &.clickable {
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (min-width: $xs) {
    .content {
      display: flex;
      justify-content: space-between;

      .quantity-field {
        width: calc(50% - 12px);
        display: flex;
        justify-content: space-between;
      }

      .quantity-field {
        &.adults {
          margin-bottom: 0px;
        }
      }
    }
  }
  @media screen and (min-width: $md) {
    .content {
      justify-content: space-around;
      .quantity-field {
        width: auto;
        &.children {
          .label {
            min-width: 86px;
            margin-right: 4px;
          }
        }

        &.adults {
          .label {
            margin-right: 24px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1100px) {
    .content {
      .quantity-field {
        .label {
          min-width: auto;
          margin-right: 16px;
        }
        &.adults {
          justify-content: flex-start;
        }
      }
    }
  }

  @media screen and (min-width: $md) and (max-width: 1100px) {
    .content {
      .quantity-field {
        .quantity-input {
          width: 100px;
        }
      }
    }
  }
} //NumberOfPersonsForm END

.page-alert.MuiPaper-root {
  position: fixed;
  bottom: 24px;
  z-index: 9;
  border: 2px solid $orange2;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(100% - 60px);
  padding: 6px 12px;
  .MuiAlert-icon {
    margin-right: 9px;
    position: absolute;
    svg {
      font-size: 24px;
    }
  }

  .MuiAlert-action {
    position: absolute;
    right: 12px;
    padding-left: 0;
    svg {
      color: $gray2;
    }
  }

  .MuiAlert-message {
    color: $navyBlue1;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 0 32px;
  }

  @media screen and (min-width: $md) {
    max-width: max-content;
    min-width: 326px;
  }
}

.standard_alert_near_button {
  position: absolute;
  text-align: left;
  bottom: -64px;
  &.MuiAlert-colorWarning {
    border: 1px solid $orange2;
  }
  bottom: -78px;
  @media screen and (min-width: 401px) {
    bottom: -64px;
    width: 336px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
} //standard-alert END

.TextImage1 {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: $boxShadow1;
  border-radius: 4px;
  margin-bottom: 32px;
  background-color: $white1;
  width: 100%;
  &:last-of-type {
    margin-bottom: 0px;
  }

  .text {
    padding: 0 16px 16px 16px;
    h3 {
      padding: 16px 16px 16px 0;
      line-height: 26px;
    }
    .desktop-button {
      display: none;
    }
  }
  .image {
    height: 280px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  @media screen and (min-width: 760px) {
    display: flex;
    flex-direction: row;

    .text {
      padding: 0;
      width: calc(50% - 12px);
      display: flex;
      flex-direction: column;
      margin-right: 12px;
      h3 {
        padding: 16px;
      }
      p {
        padding: 0 0 0 16px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .image {
      width: calc(50% - 12px);
      margin-left: 12px;
      height: 300px;
      .glide_default_image_carousel {
        .glide__track {
          .glide__slides {
            li {
              height: 300px;
              width: 100% !important;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $md) {
    .text {
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .text {
      position: relative;
      p {
        padding-right: 20px;
      }
      .desktop-button {
        display: block;
        position: absolute;
        bottom: 12px;
      }
      .mobile-button {
        display: none;
      }
    }

    .image {
      height: 416px;
      .glide_default_image_carousel {
        .glide__track {
          .glide__slides {
            li {
              height: 416px;
            }
          }
        }
      }
    }
  }
} // TextImage1 END
