.navigation-wrap {
  .logo {
    font-size: 20px;
    text-decoration: none;
    color: $white2;

    &:hover {
      text-decoration: none;
    }
  }
} //navigation-wrap END

.navigation-wrap-placeholder {
  height: 64px;
  width: 100%;
  position: relative;

  @media screen and (min-width: $md) {
    height: 74px;
  }
} //navigation-wrap-placeholder END

.CreatedRouteComponent {
  background-color: $white2;
  margin: auto;

  .content {
    text-decoration: none;
    color: #212b3b;
    display: flex;
    flex-direction: column-reverse;

    img {
      width: 100%;
      height: 156px;
      object-fit: cover;
      border-radius: 4px;
    }
    .text {
      width: 100%;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3,
      h6 {
        margin-bottom: 12px;
      }
      a {
        width: 100px;
      }
    }
  }

  @media screen and (min-width: $md) {
    .content {
      flex-direction: row;
      img {
        width: 200px;
      }
      .text {
        width: calc(100% - 200px);
      }
    }
  }
} //CreatedRouteComponent END

.TextOverImageComponent {
  position: relative;
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 240px;
    border-radius: 4px;
  }
  .text {
    padding: 16px;
    position: absolute;
    bottom: 0;
    color: $white1;
    text-shadow: 1px 1px 1px $navyBlue1;
  }
} //TextOverImageComponent END

.InfoWithBackgroundImageComponent {
  position: relative;

  .content {
    display: flex;
    flex-direction: column-reverse;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 240px;
      border-radius: 4px;
    }
    .text {
      padding: 16px;
      position: absolute;
      bottom: 0;
      top: 0;
      color: $white1;
      text-shadow: 1px 1px 1px $navyBlue1;

      display: flex;
      align-items: center;
    }
  }
  @media screen and (min-width: $md) {
    .content {
      img {
        height: 356px;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .content {
      flex-direction: row;
      .img-content {
        padding-left: 10px;
      }
      img {
        height: 400px;
      }
    }
  }
} //InfoWithBackgroundImageComponent END

.FormSearchActivities_content {
  background-color: $transparentgreen1;
  margin: 0 -16px;
  padding: 24px 16px 24px 16px;

  .FormSearchActivities {
    display: flex;
    flex-direction: column;
    .field {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: $md) {
    margin: 0;
    .FormSearchActivities {
      flex-direction: row;
      margin: 0 -9px 0 -9px;
      .field {
        padding: 0 9px;
        margin: 0;
      }
      .MuiButtonBase-root {
        margin: 0 9px;
      }
    }
  }

  @media screen and (min-width: $lg) {
    padding: 30px;
  }
} //FormSearchActivities_content END

.MuiTabs-root.custom-tabs {
  .MuiButtonBase-root {
    text-transform: none;
    font-size: 16px;

    &.Mui-selected {
      color: $green2;
    }

    .MuiTabs-flexContainer {
      justify-content: space-around;
    }
  }

  .MuiTabs-indicator {
    background-color: $green2;
  }

  @media screen and (min-width: $xs) {
    .MuiButtonBase-root {
      margin: 0 12px;
      .MuiTabs-flexContainer {
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .MuiButtonBase-root {
      margin: 0 30px;
    }
  }
} //MuiTabs-root.custom-tabs END

.BoxOfActivity {
  margin-bottom: 12px;
  .content-wrapper {
    height: 100%;
    img {
      border-radius: 4px;
      height: 200px;
      width: 100%;
      object-fit: cover;
      display: block;
    }
    .content {
      padding: 16px;
      height: calc(100% - 236px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text {
        h3 {
          margin: 10px 0 6px 0;
        }
        .category {
          font-size: 13px;
          color: $gray2;
        }
        .description {
          margin: 16px 0;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .text {
      .description {
        min-height: 130px;
      }
    }
  }
} //BoxOfActivity END

.shoppingCartList {
  background-color: $white1;
  color: $navyBlue1;
  height: 100%;
  .container {
    padding: 16px;

    .MuiTypography-root {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: 14px;
    }

    .date-label {
      font-weight: 300;
      margin-right: 16px;
      min-width: 100px;
      font-size: 14px;
    }
    .no-data {
      font-weight: 300;
      color: $gray1;
      font-size: 14px;
      svg {
        position: relative;
        top: 5px;
        font-size: 22px;
        margin-right: 3px;
      }
    }

    .chosen-activities {
      .no-data {
        margin-top: 14px;
      }

      .chosen-activities-list {
        margin-top: 14px;
        li {
          display: flex;
          width: 100%;
          border-radius: 4px;
          align-items: center;
          img {
            width: 110px;
            height: 70px;
            object-fit: cover;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          p {
            margin: 0;
            padding: 0 12px;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }

    @media screen and (min-width: $lg) {
      .chosen-activities {
        .chosen-activities-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .MuiPaper-root {
            width: calc(50% - 12px);
          }
        }
      }

      .submit-wrapper {
        display: flex;
        align-items: center;
        .MuiButtonBase-root {
          width: calc(50% - 12px);
        }
      }
    }

    @media screen and (min-width: 1260px) {
      width: 613px;
    }

    @media screen and (min-width: 1350px) {
      width: 662px;
    }

  }
} //shoppingCartList END
