.navigation-wrap {
  .logo {
    font-size: 20px;
    text-decoration: none;
    color: $white2;

    &:hover {
      text-decoration: none;
    }
  }
} //navigation-wrap END

.navigation-wrap-placeholder {
  height: 64px;
  width: 100%;
  position: relative;

  @media screen and (min-width: $md) {
    height: 74px;
  }
} //navigation-wrap-placeholder END

.CreatedRouteComponent {
  background-color: $white2;
  margin: auto;
  display: block;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: $boxShadow1;

  .content {
    text-decoration: none;
    color: #212b3b;
    display: flex;
    flex-direction: column-reverse;

    img {
      width: 100%;
      height: 156px;
      object-fit: cover;
      border-radius: 4px;
    }
    .text {
      width: 100%;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin-bottom: 6px;
        line-height: 26px;
        width: calc(100% - 32px);
      }
      h6 {
        margin-bottom: 6px;
        font-size: 14px;
        width: calc(100% - 32px);
      }
      a {
        width: 100px;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .content {
      .text {
        h3 {
          min-height: 52px;
        }
      }
    }
  }

  @media screen and (min-width: 1100px) {
    .content {
      flex-direction: row;
      img {
        width: 200px;
      }
      .text {
        width: calc(100% - 200px);
        h3 {
          min-height: auto;
        }
      }
    }
  }
} //CreatedRouteComponent END

.TextOverImageComponent {
  position: relative;
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 240px;
    border-radius: 4px;
  }
  .text {
    padding: 16px;
    position: absolute;
    bottom: 0;
    color: $white1;
    text-shadow: 1px 1px 1px $navyBlue1;
  }
} //TextOverImageComponent END

.InfoWithBackgroundImageComponent {
  position: relative;

  .content {
    display: flex;
    flex-direction: column-reverse;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 240px;
      border-radius: 4px;
    }
    .text {
      padding: 16px;
      position: absolute;
      bottom: 0;
      top: 0;
      color: $white1;
      text-shadow: 1px 1px 1px $navyBlue1;

      display: flex;
      align-items: center;
    }
  }
  @media screen and (min-width: $md) {
    .content {
      img {
        height: 356px;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .content {
      flex-direction: row;
      .img-content {
        padding-left: 10px;
      }
      img {
        height: 400px;
      }
    }
  }
} //InfoWithBackgroundImageComponent END

.FormSearchActivities_content {
  background-color: $transparentgreen1;
  margin: 0 -16px;
  padding: 24px 16px 24px 16px;

  .FormSearchActivities {
    display: flex;
    flex-direction: column;
    .field {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: $md) {
    margin: 0;
    .FormSearchActivities {
      flex-direction: row;
      margin: 0 -9px 0 -9px;
      .field {
        padding: 0 9px;
        margin: 0;
      }
      .MuiButtonBase-root {
        margin: 0 9px;
      }
    }
  }

  @media screen and (min-width: $lg) {
    padding: 30px;
  }
} //FormSearchActivities_content END

.MuiTabs-root.custom-tabs {
  .MuiButtonBase-root {
    text-transform: none;
    font-size: 16px;

    &.Mui-selected {
      color: $green2;
    }

    .MuiTabs-flexContainer {
      justify-content: space-around;
    }
  }

  .MuiTabs-indicator {
    background-color: $green2;
  }

  @media screen and (min-width: $xs) {
    .MuiButtonBase-root {
      margin: 0 12px;
      .MuiTabs-flexContainer {
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .MuiButtonBase-root {
      margin: 0 30px;
    }
  }
} //MuiTabs-root.custom-tabs END

.BoxOfActivity {
  margin-bottom: 12px;
  .content-wrapper {
    height: 100%;
    img {
      border-radius: 4px;
      height: 200px;
      width: 100%;
      object-fit: cover;
      display: block;
    }
    .content {
      padding: 16px;
      height: calc(100% - 236px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text {
        h3 {
          margin: 10px 0 6px 0;
        }
        .category {
          font-size: 13px;
          color: $gray2;
        }
        .description {
          margin: 16px 0;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media screen and (min-width: $lg) {
    .text {
      .description {
        min-height: 130px;
      }
    }
  }
} //BoxOfActivity END

.shoppingCartList {
  background-color: $white1;
  color: $navyBlue1;
  height: 100%;
  .container {
    padding: 16px;
    .main-title {
      font-size: 20px;
      margin-top: 0px;
      line-height: 40px;
    }
    .MuiTypography-root {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: 18px;
    }

    .date-label {
      font-weight: 300;
      margin-right: 12px;
      min-width: 90px;
      font-size: 14px;
      font-weight: 300;
    }
    .no-data {
      font-weight: 300;
      color: $gray1;
      font-size: 14px;
      svg {
        position: relative;
        top: 5px;
        font-size: 22px;
        margin-right: 3px;
      }
    }

    .chosen-activities {
      .no-data {
        margin-top: 14px;
      }

      .chosen-activities-list {
        margin-top: 14px;
        .no-activity {
          display: flex;
          align-items: center;
          font-size: 14px;
          margin-bottom: 12px;
          box-shadow: none;
          color: $gray1;
          .MuiSvgIcon-root {
            font-size: 22px;
            margin-right: 6px;
          }
        }
      }
    }

    .MuiAlert-root {
      padding: 0 12px;
      color: $orange2;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      .MuiAlert-icon {
        color: $orange2;
        margin-right: 10px;
      }
    }

    @media screen and (min-width: $md) {
      .main-title {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: $lg) {
      .submit-wrapper {
        display: flex;
        align-items: center;
        .MuiButtonBase-root {
          width: calc(50% - 12px);
        }
      }
    }

    @media screen and (min-width: 1260px) {
      width: 607px;
    }

    @media screen and (min-width: 1350px) {
      width: 640px;
    }
  }
} //shoppingCartList END

.shoppingCartActivityList {
  margin-bottom: 12px;
  box-shadow: $boxShadow1;
  li {
    display: flex;
    width: 100%;
    border-radius: 4px;
    align-items: center;
    position: relative;
    .image-wrap {
      display: flex;
      height: 70px;
      &.right-radius {
        img {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      img {
        width: 100px;
        height: 100%;
        object-fit: cover;
        border-radius: 0px;
      }
      .MuiButtonBase-root {
        padding: 4px;
        border-radius: 0;
        height: 100%;
        svg {
          width: 19px;
          height: 19px;
          color: $gray2;
        }
      }
    }
    .content {
      width: calc(100% - 127px);
      display: flex;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        p {
          margin: 0;
          padding: 0 12px;
          font-size: 14px;
          line-height: 22px !important;
          font-weight: 600;
          width: calc(100% - 40px);
        }
        .category {
          font-size: 13px;
          color: $gray2;
          padding: 0 12px;
          line-height: 22px !important;
        }
      }
      .action {
        position: absolute;
        right: 0;
        top: 0;
        .MuiButtonBase-root {
          padding: 6px;
          svg {
            width: 19px;
            height: 19px;
            color: $gray2;
          }
        }
      }
    }
  }
}

.CalendarForm {
  .calendar-field {
    .react-datepicker-wrapper {
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: $xs) {
    display: flex;
    justify-content: space-between;
    .calendar-field {
      width: calc(50% - 12px);
    }
  }

  @media screen and (min-width: $md) {
    .calendar-field {
      .react-datepicker-wrapper {
        margin-bottom: 0px;
      }
    }
  }
}

.NumberOfPersonsForm {
  .content {
    .quantity-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.adults {
        margin-bottom: 24px;
      }
      &.children {
        position: relative;
        .label {
          min-width: 92px;
        }
      }

      .label {
        color: $navyBlue1;
        display: block;
        font-size: 15px;
        line-height: 24px;
        position: relative;
        .MuiSvgIcon-root {
          color: $gray2;
          position: absolute;
          top: 1px;
          right: 0;
        }

        &.active {
          .MuiSvgIcon-root {
            color: $navyBlue1;
          }
        }
        &.clickable {
          cursor: pointer;
        }
      }

      .children-age-info {
        position: absolute;
        width: calc(100% - 24px);
        border: 1px solid $gray1;
        border-radius: 4px;
        top: 48px;
        background-color: $white1;
        z-index: 2;
        padding: 12px;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: calc(50% - 6px);
            margin-bottom: 12px;
            .select-input-field-container {
              .select-input-field__control {
                min-height: 38px;
                border-color: $red1;
                font-size: 13px;
              }
              .select-input-field__control--is-focused {
                // border-color: $green2;
                box-shadow: none;
              }

              .select-input-field__indicator {
                padding: 8px 3px;
                &.select-input-field__clear-indicator {
                  padding: 8px 0px;
                }
              }
              .select-input-field__value-container {
                padding: 2px 6px;
              }

              &.active {
                .select-input-field__control {
                  border-color: $gray1;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $xs) {
    .content {
      display: flex;
      justify-content: space-between;

      .quantity-field {
        width: calc(50% - 12px);
        display: flex;
        justify-content: space-between;
      }

      .quantity-field {
        &.adults {
          margin-bottom: 0px;
        }
      }
    }
  }
  @media screen and (min-width: $md) {
    .content {
      justify-content: space-around;
      .quantity-field {
        width: auto;
        .children-age-info {
          width: calc(100% + 84px);
          left: -110px;
        }
        &.children {
          .label {
            min-width: 86px;
            margin-right: 4px;
          }
        }

        &.adults {
          .label {
            margin-right: 24px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1100px) {
    .content {
      .quantity-field {
        .label {
          min-width: auto;
          margin-right: 16px;
        }
        &.adults {
          justify-content: flex-start;
        }
      }
    }
  }

  @media screen and (min-width: $md) and (max-width: 1100px) {
    .content {
      .quantity-field {
        .quantity-input {
          width: 100px;
        }
      }
    }
  }
} //NumberOfPersonsForm END
