.page.activities {
  .title-filter {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    .MuiTypography-root {
      margin-top: 0;
      line-height: 42px;
    }

    .action-filter-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      position: relative;
      flex-direction: column;
      .label {
        font-size: 13px;
        color: $gray2;
        position: absolute;
        top: -24px;
      }
      .field {
        position: relative;
        // width: calc(50% - 12px);
        width: 100%;
        margin: 4px 0;
      }
    }

    @media screen and (min-width: $xs) {
      .action-filter-wrapper {
        flex-direction: row;

        .field {
          width: calc(50% - 12px);
        }
      }
    }

    @media screen and (min-width: $md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 42px;
      .action-filter-wrapper {
        .label {
          position: relative;
          top: 0;
        }

        .field {
          width: 196px;
          margin-left: 16px;
        }

        align-items: center;
      }
    }

    @media screen and (min-width: $lg) {
      .action-filter-wrapper {
        .field {
          width: 226px;
          margin-left: 24px;
        }
      }
    }
  }
} //activities END

.page.predefined-vacations {
  .vacation-summary {
    .box {
      h2 {
        margin: 16px 0;
        font-size: 18px;
        line-height: 26px;
      }
      ul {
        li {
          line-height: 32px;
          font-weight: 400;
          color: $green1;
        }
      }
      .info {
        font-size: 14px;
      }
      p {
        font-weight: 400;
        color: $green2;
      }
    }

    @media screen and (min-width: 760px) {
      .box {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
        h2 {
          margin: 0;
          width: 140px;
          font-size: 16px;
          line-height: 28px;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 140px);
          li {
            width: auto;
            margin: 0 32px 8px 8px;
            line-height: 28px;
          }
        }
        p {
          margin: 0 8px;
        }
      }
    }
  } //vacation-summary END

  .daily-organization {
    position: relative;
    .__ {
      position: absolute;
      bottom: 48px;
    }
    .items {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 760px) {
      .items {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    @media screen and (min-width: $lg) {
      .items {
        .TextImage1 {
          .image {
            height: 340px;
          }
        }
      }
    }

    @media screen and (min-width: 1360px) {
      .items {
        .TextImage1 {
          .image {
            height: 400px;
          }
        }
      }
    }
  } // daily-organization END
}

.page.staff {
  .team_members {
    .content {
      border-radius: 4px;
      box-shadow: $boxShadow1;
    }

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 4px;
    }
    h3 {
      font-size: 16px;
      line-height: 26px;
      margin: 12px 0 6px 0;
      padding: 0 16px;
    }

    h4 {
      font-size: 14px;
      margin: 0;
      color: $orange2;
      font-weight: 400;
      padding: 0 16px 16px 16px;
    }
  }
}
