.header-section {
  position: relative;
  height: 460px;
  width: 100%;
  list-style: none;
  &.bg-green{
    background-color: $green1;
  }
  .content {
    position: absolute;
    color: $white1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    .titles {
      margin: 0 16px;
      text-shadow: 1px 1px 1px $navyBlue1;
      width: auto;
      h1 {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 0;
        white-space: normal;
        line-height: 54px;
      }
      h2 {
        font-size: 21px;
        font-weight: 400;
        text-align: center;
        white-space: normal;
        line-height: 30px;
      }
    }
  }

  @media screen and (min-width: $md) {
    height: 416px;
    .content {
      width: 100%;
      .titles {
        h1 {
          font-size: 46px;
        }
      }
    }
  }
} //header-section END

footer {
  background-color: $green1;
  color: $white2;
  padding: 32px 0 0 0;
  margin-top: 80px;
  li.list {
    margin-bottom: 3px;

    a {
      color: $white2;
      font-size: 15px;
      &:hover {
        color: $white1;
      }
    }
  }
  hr {
    margin: 16px 0;
  }
}

.CreatedRouteComponent_wrap {
  .CreatedRouteComponent {
    background-color: $white1;
    margin: auto;
    display: block;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: $boxShadow1;
    margin-bottom: 24px;
    .content {
      text-decoration: none;
      color: #212b3b;
      display: flex;
      flex-direction: column;
      padding: 16px;
      .text {
        font-size: 15px;
        line-height: 24px;
      }
      h3 {
        margin-bottom: 16px;
        line-height: 26px;
      }
      .list-title {
        margin: 12px 0 7px 0;
        font-weight: 600;
        font-size: 15px;
      }

      ul {
        li {
          color: $green2;
          font-size: 15px;
          line-height: 23px;
          margin-bottom: 12px;
        }
      }

      .link-button {
        width: 120px;
        margin-top: 9px;
      }
    }
  }

  @media screen and (min-width: 767px) {
    .CreatedRouteComponent {
      .content {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 50%;
          }
        }
      }
    }
  }

  @media screen and (min-width: $md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -12px;
    .CreatedRouteComponent {
      width: calc(50% - 24px);
      .content {
        ul {
          display: block;
          li {
            width: 100%;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
} //CreatedRouteComponent_wrap END

.FullWidthBanner {
  display: block;
  position: relative;
  height: 640px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .MuiCircularProgress-circle {
    stroke: $green2;
  }
  @media screen and (min-width: $xs) {
    height: 350px;
  }
}
