.header-section {
  position: relative;
  height: 460px;
  .content {
    position: absolute;
    color: $white1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    .titles {
      margin: 0 16px;
      text-shadow: 1px 1px 1px $navyBlue1;
      width: auto;
      h1 {
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 0;
      }
      h2 {
        font-size: 21px;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: $md) {
    height: 400px;
    .content {
      width: 100%;
    }
  }
} //header-section END

footer {
  background-color: $green1;
  color: $white2;
  padding: 32px 0 0 0;
  margin-top: 80px;
  li.list {
    margin-bottom: 3px;

    a {
      color: $white2;
      font-size: 15px;
      &:hover {
        color: $white1;
      }
    }
  }
  hr {
    margin: 16px 0;
  }
}

.CreatedRouteComponent_wrap {
  .CreatedRouteComponent {
    background-color: $white2;
    margin: auto;
    display: block;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: $boxShadow1;
    margin-bottom: 24px;
    .content {
      text-decoration: none;
      color: #212b3b;
      display: flex;
      flex-direction: column-reverse;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
      }
      .text {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          margin-bottom: 6px;
          line-height: 26px;
          width: calc(100% - 32px);
        }
        h6 {
          margin-bottom: 6px;
          font-size: 14px;
          width: calc(100% - 32px);
        }
        a {
          width: 100px;
        }
      }
    }
  }
  @media screen and (min-width: 760px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -12px;
    .CreatedRouteComponent {
      width: calc(50% - 24px);
      .content {
        .text {
          h3 {
            min-height: 78px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1260px) {
    .CreatedRouteComponent {
      .content {
        flex-direction: row;
        img {
          width: 262px;
          height: 280px;
        }
        .text {
          padding: 16px 6px 16px 16px;
          h3 {
            min-height: auto;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1360px) {
    .CreatedRouteComponent {
      .content {
        img {
          width: 280px;
        }
      }
    }
  }
} //CreatedRouteComponent_wrap END
